@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(../fonts/Bangers.woff2) format('woff2');
}

body {
  background: #000;
  color: #ddd;
  font-family: Courier, 'Courier New', monospace;
  text-align: center;
  text-transform: lowercase;
}

.overlay {
  background: url(../images/overlay_background.png) center center no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Bangers, sans-serif;
  overflow: hidden;
  background-size: cover;
}

.overlay h1 {
  font-size: 3em;
  color: #ADED4F;
  text-shadow: -4px 4px #000;
  letter-spacing: 2px;
  width: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: 10px solid #fff;
  margin: 20px auto;
  padding: 20px;
  box-shadow: -4px 4px #000;
}

.overlay button {
  display: inline-block;
  background: none;
  font-size: 5em;
  font-family: Bangers;
  text-shadow: -6px 6px #000;
  letter-spacing: 4px;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
.overlay button:hover {
  color: #ADED4F;
}

.author {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow: -2px 2px #000;
}

canvas {
  background: #000;
}

a {
  text-decoration: none;
  color: #ADED4F;
}

a:hover {
  text-decoration: underline;
}
